<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Welcome</title>
</head>
<body>
<div th:each="rate : ${rates}">
    <span class="gr font-strong" th:text="${rate.type}"></span>
    <span class="gr font-strong" th:text="${rate.date}"></span>
    <div></div>
    <span th:each="ccy : ${rate.currencyAmountList}">
        <span th:text="${ccy.amount}"></span>
        <span th:text="${ccy.currency}"></span>
    </span>
</div>
</body>
</body>
</html>