body {

}
.gr{
color:green;
margin-bottom: 20px;
}
.font-strong{
font-weight: bold;
}
.mar{
margin:50px
}
.mar-t{
mar-top:50px;
}
.mar-b{
margin-bottom: -20px;
}

.mar-l{
margin-left:50px
}
.mar-r{
margin-right:20px;
}